<!-- Page Heading/Breadcrumbs -->
<br>
  
<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="news.html">News</a>
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->


<div class="row">
  <div class="col-md-1 text-center">
    <b>PRESS RELEASE</b>
    <p>February 16, 2016</p>
  </div>
  <div class="col-md-11">
    <h4>
      FAIRFAX COUNTY RESIDENTS SUPPORT FULL FUNDING FOR SCHOOLS BUDGET
    </h4>
    <p>
      by Friends of FCPS
    </p>

    <p>
    Fairfax County parents, students, employees, and concerned citizens gathered Tuesday, Feb 16th at the Fairfax County Government Center to encourage the Fairfax County Board of Supervisors to “Invest in Kids,” and advertise a tax rate which would allow them to fully fund the School Board-approved budget for 2017.
</p><p>
    The speakers at the event focused on the theme that we cannot continue to balance budgets by cutting services and programs, raising class sizes, and freezing salaries or providing only nominal pay raises.  Speakers asked the Board of Supervisors to provide full funding in order to maintain the academic and extracurricular programs and services that make Fairfax schools great
</p><p>
    The event was organized by the Fairfax County Council of PTAs, Fairfax Education Association, FLAGS (Foreign Language Advocacy for Grade Schools), FACE (Fairfax Arts Coalition for Education) and #IamFCPS.
</p><p>
    “A group this diverse and this large, coming together in support of one budget is unprecedented,” said Suzanne Zurn of #IAMFCPS on behalf of the event organizers. “Cutting any part of the budget is eliminating a necessary part of the whole. We need full funding of the FY2017 school budget not only to uphold the quality of education Fairfax County has become known for, but also to ensure that Fairfax County continues to be a destination for growing families and businesses alike.”
</p>





  </div>
</div>


