<!-- Page Heading/Breadcrumbs -->
<br>
  
<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="news.html">News</a>
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->


<div class="row">
  <div class="col-md-1 text-center">
    <p>February 19, 2016</p>
  </div>
  <div class="col-md-11">
    <h4>
      Ask Supervisors McKay and Hudgins to Provide Full Funding for Our Public Schools!
    </h4>
    <p>
      by <a href="mailto:fairfaxflags@gmail.org">Fairfax FLAGS</a>
    </p>

    <p>
    On Saturday, Feb. 20, Supervisors Jeff McKay (Lee District) and Cathy Hudgins (Hunter Mill District) are holding separate town hall meetings (see times and locations below). If you live or attend school(s) in their district, we urge you to attend their town hall meeting and articulate your strong support for full funding of the School Board's budget request. (See below for a complete list of schools in these districts.)
</p><p>
    The School Board has requested a 6.7 percent increase in the FCPS budget. (Fairfax County provides 70% of the FCPS budget.) County Executive Ed Long has proposed a mere 3 percent increase, which would cause a $68 million budget deficit for FCPS. This is the worst-case scenario that was anticipated by the School Board, and it will require drastic budget cuts that will impact the quality of our schools.
</p><p>
    Supervisors McKay and Hudgins are potential swing votes on the School Board's budget request, so we need your help to persuade them to support full funding. Please encourage your family, friends, and neighbors to attend the town hall meeting! We need the Supervisors to hear many voices demanding full funding for our public schools.
</p><p>
    The Supervisors may emphasize the reduction in state funding since 2008. We are committed to working with the Supervisors to lobby Richmond to increase funding next year, but for this year, only the Board of Supervisors can provide the necessary funding. If it does not, FCPS will have to enact painful budget cuts that will impact our property values and our local economy.
</p>
    
    
    Supervisor Jeff McKay<br>
    Hayfield Elementary School, 7633 Telegraph Rd., Alexandria<br>
    9:30-11:30 AM<br>
      <br>

    Supervisor Cathy Hudgins<br>
    Vienna Fire Station, 400 Center Street SW, Vienna<br>
    8:30 AM-12 PM<br>
      <br>

        <h4>Lee District</h4></br>
    
    <b>High Schools:</b>
      <ul>
        <li>
    Edison</li><li>
    Lee</li><li>
    Secondary Schools:</li><li>
    Hayfield
  </li></ul>
    </br>
    <b>Middle Schools</b>
      <ul>
        <li>  Key</li>
        <li>
    Key Center</li><li>
    Twain</li>
  </ul>
      <b>Elementary Schools:</b>
      <ul>
        <li>
    Bush Hill
  </li><li>
    Cameron
  </li>
  <li>
    Clermont
   </li><li>
     Crestwood
   </li>
   <li>
     Forestdale
   </li>
   <li>
     Franconia
   </li>
   <li>
     Garfield
   </li>
   <li>
     Groveton
   </li>
   <li>
     Hayfield
   </li>
   <li>
     Hybla Valley
   </li>
   <li>
     Island Creek
   </li>
   <li>
     Lane
   </li>
   <li>
     Lynbrook
   </li>
   <li>
     Mount Eagle
   </li>
   <li>
     Mount Vernon Woods
   </li>
   <li>
    Rose Hill</li>
   <li>
    Springfield Estates</li>
</ul>

      <h4>Hunter Mill District</h4>
    </br>
      <b>High Schools:<b></br>
        <ul>
          <li>  Madison</li>
          <li>South Lakes</li>
  </ul>

        <b>Middle Schools:</b><br>
          <ul>
            <li>Hughes</li>
    </ul>

          <b>Elementary Schools:</b><br>

            <ul>
              <li>
                Aldrin
              </li>
              <li>
                Armstrong
              </li>
              <li>
                Crossfield
              </li>
              <li>
                Cunningham Park
              </li>
              <li>
                Dogwood
              </li>
              <li>
                Flint Hill
              </li>
              <li>
                Floris
              </li>
              <li>
                Forest Edge
              </li>
              <li>
                Fox Mill
              </li>
              <li>
                Hunters Woods
              </li>
              <li>
                Lake Anne
              </li>
              <li>
                Louise Archer
              </li>
              <li>
                Marshall Road
              </li>
              <li>
                McNair
              </li>
              <li>
                Sunrise Valley
              </li>
              <li>
                Terraset
              </li>
              <li>
                Vienna
              </li>
              <li>
                Westbriar
              </li>
              <li>
                Wolftrap
              </li>
            </ul>
  </div>
</div>


