<!-- Page Heading/Breadcrumbs -->
<br>
  
<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="news.html">News</a>
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->


<div class="row">
  <div class="col-md-1 text-center">
    <p>February 24, 2016</p>
  </div>
  <div class="col-md-11">
    <h4>
      Tell Supervisor Storck and Chairman Bulova to Support Full Funding for FCPS!
    </h4>
    <p>
      by <a href="mailto:fairfaxflags@gmail.org">Fairfax FLAGS</a>
    </p>

    <p>
    We urge you to attend a Mount Vernon District town hall meeting this Saturday, Feb. 27, at 9:15 AM-1 PM at Walt Whitman MS, 2500 Parkers Lane, Alexandria, with Chairman Sharon Bulova and Supervisor Dan Storck to demonstrate your strong support for FULL FUNDING of our public schools.
</p><p>
    The School Board has requested a 6.7 percent increase in the FCPS budget. (Fairfax County provides 70% of the FCPS budget.) County Executive Ed Long has proposed a mere 3 percent increase, which would cause a $68 million budget deficit for FCPS. This is the worst-case scenario that was anticipated by the School Board, and it will require drastic budget cuts that will impact the quality of our schools.
</p><p>
    Supervisor Storck and Chairman Bulova are potential swing votes on the School Board's budget request, so we need your help to persuade them to support full funding. Please encourage your family, friends, and neighbors to attend this town hall meeting! We need the Supervisors to hear many voices demanding full funding for our public schools.
</p>

    <h4>Mount Vernon District Schools</h4>
    <b>High Schools:</b>
    <ul>
      <li>Mount Vernon HS</li>
      <li>South County HS</li>
      <li>West Potomac HS</li>
    </ul>

    <b>Middle Schools:</b>
    <ul>    
      <li>Sandburg MS</li>
      <li>South County MS</li>
      <li>Whitman MS</li>
    </ul>

    <b>Elementary Schools:</b>
    <ul>
      <li>Belle View ES</li>
      <li>Bucknell ES</li>
      <li>Fort Belvoir ES</li>
      <li>Fort Hunt ES</li>
      <li>Gunston ES</li>
      <li>Halley ES</li>
      <li>Laurel Hill ES</li>
      <li>Lorton Station ES</li>
      <li>Newington Forest ES</li>
      <li>Riverside ES</li>
      <li>Saratoga ES</li>
      <li>Stratford Landing ES</li>
      <li>Washington Mill ES</li>
      <li>Waynewood ES</li>
      <li>Woodlawn ES</li>
      <li>Woodley Hills ES</li>
    </ul>
  </div>
</div>


