<!-- Page Heading/Breadcrumbs -->
<br>
  
<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="news.html">News</a>
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->


<div class="row">
  <div class="col-md-1 text-center">
    <p>February 25, 2016</p>
  </div>
  <div class="col-md-11">
    <h4>
      Tell Supervisors to Set a Tax Rate to Allow Full Funding of FCPS!
    </h4>
    <p>
      by <a href="mailto:fairfaxflags@gmail.org">Fairfax FLAGS</a>
    </p>

    <p>
      We want the Fairfax County Board of Supervisors to set a property tax rate that will allow FULL FUNDING for Fairfax County Schools. Please sign our petition <a href="http://bit.ly/1Dime4FCPS">today!</a>
      
    </p><p>
      State Senator Scott Surovell says that "Fairfax County needs to advertise a dime tax rate to have flexibility <a href="https://twitter.com/ssurovell/status/702506467690205185">to fully fund Fairfax Schools.</a>
    </p><p>
      On Tuesday, March 1, the Board of Supervisors will set the Advertised Tax Rate, which is the maximum amount property taxes can be increased for FY 2017. Once this rate is set, the Board of Supervisors cannot go higher than what is advertised. On Wednesday, April 27, the Board of Supervisors will determine the actual property tax rate for FY 2017, which could be lower than the Advertised Tax Rate.
    </p><p>
      We strongly support the Fairfax County School Board's FY 2017 budget request, and we want the Board of Supervisors to provide FULL FUNDING to sustain the quality of our schools, to preserve our property values, and to strengthen our local economy!
    </p><p>
    Please spread the word about the petition! We need as many signatures as possible before March 1.
    </p>

  </div>
</div>


