<!-- Page Heading/Breadcrumbs -->
<br>
  
<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="news.html">News</a>
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->


<div class="row">
  <div class="col-md-1 text-center">
    <b>Press Release</b>
    <p>March 1, 2016</p>
  </div>
  <div class="col-md-11">
    <h4>
      FAIRFAX COUNTY RESIDENTS CONTINUE TO PRESS FOR A FULLY FUNDED SCHOOL BUDGET
    </h4>

    <p><em><b>Concerned citizens to gather at a Town Hall Meeting with Supervisor Dan Storck and Sharon Bulova</b></em></p>

    <p>
      by Friends of FCPS
    </p>

    <p>    
    Fairfax County parents, students, teachers and community members continue to call for full funding of the School Board’s budget request. On the heels of a successful “Invest in Kids” advocacy event on Feb. 16 at the Fairfax County Government Center, local support continues at Town Hall Meetings throughout the county.
    </p>
    <p>
    On Saturday, Feb. 27, County Supervisors Dan Storck and Chairman Sharon Bulova will host a town hall meeting from 9:15 AM-1 PM at Walt Whitman Middle School, 2500 Parkers Lane, Alexandria.  Concerned citizens will attend and voice support of full funding.
    </p>
    <p>
    The School Board requested a 6.7 percent increase in the Fairfax County Public Schools (FCPS) budget. On Feb. 16, County Executive Ed Long proposed a 3 percent tax increase, which could lead to a $68 million budget deficit for FCPS – and a funding gap that must be filled. This show of support is crucial because the Board of Supervisors meets on Tues., March 1 to decide the advertised tax rate. That tax rate will determine whether or not full-funding of the schools’ budget is feasible.
    </p>
    <p>
    “We are committed to working with the Supervisors to lobby Richmond to increase funding next year, but for this year, only the county can provide the necessary funding,” said Matt Dunne on behalf of Friends of FCPS, the group that organized the Feb. 16 demonstration at the Government Center. “Without full-funding, FCPS will have to enact drastic budget cuts – jeopardizing programs and services that students depend on.”
    </p>
    <p>
    Friends of Fairfax include the <a href="http://fccpta.org/">Fairfax County Council of PTAs</a>, <a href="http://www.fairfaxea.org/">Fairfax Education Association</a>, <a href="http://www.fairfaxflags.org/">FLAGS (Foreign Language Advocacy for Grade Schools)</a>, 
      <a href="https://www.facebook.com/groups/164688442731?_rdr=p">FACE (Fairfax Arts Coalition for Education)</a> 
      and <a href="http://iamfcps.org/">#IamFCPS</a>
    </p>
  </div>
</div>


