<!-- Page Heading/Breadcrumbs -->
<br>
  
<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="news.html">News</a>
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->


<div class="row">
  <div class="col-md-1 text-center">
    <h4>Press Release</h4>
    <p>January 7, 2016</p>
  </div>
  <div class="col-md-11">
    <h4>
      Fairfax FLAGS Needs Your Help!
    </h4>
    <p>
      by <a href="mailto:fairfaxflags@gmail.org">Fairfax FLAGS</a>
    </p>

	<h1>Board of Supervisors’ Vote Puts Language Immersion in Grave Danger</h1>

	<p>
Despite pleas from parents, students, teachers, and many advocacy groups, including Fairfax FLAGS, on March 1, 
the Fairfax County Board of Supervisors (BOS) voted an advertised tax rate that potentially underfunds Fairfax County Public Schools (FCPS) by $68 million. 
The BOS voted to increase property taxes by 4 cents, as recommended by Fairfax County Executive Ed Long.
</p>
<p>
The County budget proposed by Mr. Long gives FCPS a three percent increase in funds, which is <b>insufficient</b> to meet the school system’s needs. 
If Mr. Long’s budget is adopted by the BOS, <b>cuts in FCPS programs loom on the horizon. These cuts include language immersion, music, and sports,</b> plus new fees for AP exams and extracurricular activities. 
Likewise, FCPS may face increasing teacher attrition, as <b>our most qualified teachers leave our schools for surrounding school districts,</b> which pay significantly more.
</p>
    <p>
      <b>The time is now</b> to email, write, and call your Board of Supervisors.
      Show up at the budget town halls and ask the Supervisors to allocate more of the County’s budget to our schools.
      Sign up to speak at the public hearings on the budget, on April 5-7.
    </p>
      <p>
If we don’t speak up and ask for more funding, <b>the budget picture could grow even more bleak.</b> 
By law, the BOS cannot vote on a tax rate above the advertised rate, but they <b>CAN</b> vote a lower rate. 
And only they can decide how much of the County’s budget is allocated to the schools. Their final decision is April 26. 
<b>Our time is limited, and our window to advocate for increased funding closes soon. We have between now and April 26 to make our voices heard to the Board of Supervisors.</b> After the BOS votes on the County budget, including how much money our schools will receive, FCPS will have to make critical decisions on what it can afford.
</p>
<p><b>
Tell the Board of Supervisors that education should be our number one priority. Stop our long, slow slide away from quality education and towards bigger class sizes and decimated academic and extracurricular programs. Save FCPS, save Language Immersion.
</b></p>
    <h3>
      We need to take action <a href="take_action.html">NOW</a> Contact your <a href="page/fairfaximmersion/index.html">Representatives</a>
    </h3>
  </div>
</div>
