<!-- Page Heading/Breadcrumbs -->
<br>

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="news.html">News</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->


  <div class="row">
    <div class="col-md-1 text-center">
      <!--<h4>Press Release</h4>-->
      <p>March 17, 2016</p>
    </div>
    <div class="col-md-11">
      <h4>
        TIME FOR ACTION: Please act NOW to sustain the quality of our schools.
      </h4>
      <p>
        We need the Board of Supervisors to approve a 4-cent increase in the residential tax rate and provide full funding for Fairfax County Public Schools in order to avoid drastic budget cuts to programs and services.
      </p>
      <p>
        Here is what we need you to <a target = "_blank" href="http://bit.ly/FCPSHelp1">
          <b>do</b></a>
      </p>
      <p>
        Here is what we need you to <a target = "_blank" href="http://bit.ly/FFXWhat2Say">
          <b>say</b></a>
      </p>
      <p>
        Here is contact info for your <a target = "_blank" href="http://bit.ly/FFXCTY2016">
          <b>elected officials</b><a/>
      </p>
      <p>
        Please look up your elected official by your base school <a target = "_blank" href="http://bit.ly/FFXbySchool">
          <b>here</b><a/>
      </p>
    </div>
  </div>
