<!-- Page Heading/Breadcrumbs -->
<br />

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="news.html">News</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->



  <div class="row">
    <div class="col-md-1 text-center">
      <!--<h4>Press Release</h4>-->
      <p>April 1, 2016</p>
    </div>
    <div class="col-md-11">
      <h4>
        Call Supervisors McKay and Bulova Today and Ask for 4 Cents
      </h4>
      <p>
        We are conducting a two-week telephone campaign to persuade the Board of Supervisors to provide sufficient funding to Fairfax County Public Schools in order to avoid drastic cuts to programs and services.
      </p>
      <p>
        Thank you for your phone calls in support of our "Four Cents for Fairfax" campaign! Please take two minutes today to call the next two Supervisors on our list: Supervisor Jeff McKay (703­-971­-6262) and Chairman Sharon Bulova (703­-324­-2321).
        <p>
        Please give this message to their assistant:
      </p>
      <p>
        <i>
          <b>
            "Please vote to approve four cents on April 26. I want the fourth penny ($23 million) AND the $10 million from the third quarter review to go to Fairfax County Public Schools in order to prevent drastic cuts to programs and services."
          </b>
        </i>
      </p>
      <p>
        We need hundreds of phone calls over the next 48 hours to win their votes, so please share this email with your community.
      </p>
    </div>
  </div>




  </div>
  </div>


