<!-- Page Heading/Breadcrumbs -->
<br />

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="news.html">News</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-1 text-center">
      <!--<h4>Press Release</h4>-->
      <p>April 9, 2016</p>
    </div>
    <div class="col-md-11">
      <h2>
        On April 7th, advocates for school funding testified before the Board of Supervisors
      </h2>

	  <video controls="">
			<source src="video//bos_2016//SarahClark.mp4" type="video/mp4">
		</video>
		<h4>Sarah Clark</h4>

		<br />
		<video controls="">
			<source src="video//bos_2016//JamesMann.mp4" type="video/mp4">
		</video>
		<h4>James Mann</h4>
			
			<!--
		<br />
		<video controls="">               
			<source src="video//bos_2016//VickiMowery.mp4" type="video/mp4">
		</video>
		<h4>Vicki Mowery</h4>
		-->

		<br />
		<video controls="">
			<source src="video//bos_2016//LisaRandolph.mp4" type="video/mp4">
		</video>
		<h4>Lisa Randolph</h4>

		<br /><br />
		<video controls="">
			<source src="video//bos_2016//ClydeMiller.mp4" type="video/mp4">
		</video>
		<h4>Clyde Miller</h4>
		
		<br />
		<video controls="">
			<source src="video//bos_2016//JenniferGross.mp4" type="video/mp4">
		</video>
		<h4>Jennifer Gross</h4>

		<br />
		<video controls="">
			<source src="video//bos_2016//MattDunne.mp4" type="video/mp4">
		</video>
		<h4>Matt Dunne</h4>
		<br />
		
	</div>
  </div>
  
 </div>
 </div>


