<!-- Page Heading/Breadcrumbs -->
<br />

  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="news.html">News</a>
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-1 text-center">
      <!--<h4>Press Release</h4>-->
      <p>April 9, 2016</p>
    </div>
    <div class="col-md-11">
      <h4>
        On April 5, 6, and 7, advocates for school funding testified before the Board of Supervisors
      </h4>
    </div>
      

<video controls="">
  <source src="video//bos_2016//ChristieDonovan.mp4" type="video/mp4">
</video>

  </div>



  `
  </div>
  </div>

