<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        About Us
        <!-- <small>Subheading</small> -->
      </h1>
    </div>
  </div>


  <div class="row">
    <p>
      Fairfax FLAGS (Foreign Language Advocacy for Grade Schools) advocates for full funding for Fairfax County Public Schools and the preservation and expansion of world language programs, including language immersion and Language Through Content (formerly Foreign Language in the Elementary School).
    </p>
    <p>
      Fairfax FLAGS is a grassroots advocacy group composed entirely of volunteers. Matt Dunne is the lead organizer of FLAGS.
    </p>
  </div>

</div>
