<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">About Us
			<!-- <small>Subheading</small> -->
        </h1>
    </div>
</div>


<div class="row">
		<p>
			Fairfax County Public Schools are recognized around the world for their excellence and are a defining feature that attracts families and businesses to Fairfax County. It is critically important to preserve and expand programs like language immersion and FLES/LTC not only for our children, but also to ensure the continued vitality of Fairfax County's economy and property values.
			We invite you to join our mailing list and support our efforts to keep Fairfax County a center of innovation and excellence in public school education. 
		</p>

<p><em>History</em></p>

    <div class="col-lg-3">
      <img class="img-responsive" src="img/founders.jpg">
  </div>
    
<p>
	Sandy Knox, who helped bring Spanish immersion instruction to Brookfield Elementary, and Tina Meek, whose daughters were in a Japanese immersion program at Fox Mill Elementary, together formed Fairfax FLAGS in 2009. The organization grew to include parents, students, alumni, and other concerned community members working together to keep the language programs that they believe are critical for both the children of Fairfax as well as the county’s economy. 
</p>

<p>
	The Fairfax parents spoke at school board meetings and other community meetings. They also held a silent demonstration outside a board meeting (in the rain) and held up signs about saving the language programs. Knox and Meek had complementary skill sets. Knox had the experience of following the budget and public hearing processes closely for several years, learning to understand the political side, working with the school board, and building contacts along the way. She was also a former project manager, which was helpful in organizing. Meek came from a marketing, writing, and public relations background. They always had a PowerPoint presentation at each of the meetings.
</p>

<p>
	Instead of pitting one program against the other, Fairfax FLAGS joined forces with similar organizations. Having a united effort was one of the many things that they did right. At the meetings where parents spoke, they also made sure that the messages covered different angles so that they not only presented a wide range of strong evidence, but they also did not become repetitive.At public hearings, they had student representatives from different schools and  adults who spoke talked about different benefits of language learning.” These included cognitive and academic benefits as well as career options in the global economy and in the government and military. 
</p>

<p>
	To support these efforts, Fairfax FLAGS recruited the American Council on the Teaching of Foreign Languages and the Committee for Economic Development. Most board members had studied languages in high school, but many did not know how much language instruction has changed since then, so part of the strategy involved educating the board. Coming prepared with the research to back up specific arguments was critical. The Fairfax supporters had research that showed studying languages starting in kindergarten is best for children and they could show how it helps students in other areas such as math and language arts. 
</p>

<p>
	After all this hard work, the commitment of the parents and educators in Fairfax County paid off and the Fairfax County immersion and FLES programs were preserved in the county schools’ FY2011 budget.
</p>
   
</div>
</div>
