<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Allied Organizations
      <small>FLAGS is part of a larger effort to keep FCPS great</small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3><a href="http://iamfcps.org/">#IamFCPS</a></h3>
    <h3><a href="http://fccpta.org/">Fairfax County Council of PTAs</a></h3>
    <h3><a href="http://www.fairfaxea.org/">Fairfax Education Association</a></h3>
    <h3><a href="https://www.facebook.com/groups/164688442731">Fairfax Arts Coalition for Education</a></h3>
  </div>
</div>
  



