<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Other Advocacy Organizations
      <small>
        FLAGS has joined with other advocacy groups to form a new coalition (Friends of FCPS) to advocate for broad based resources to protect, cultivate, and advance educational excellence.
      </small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3>
      Among the members of the Friends of FCPS coalition are:
    </h3>
    <h4><a target = "_blank" href="http://fccpta.org/">Fairfax County Council of PTAs</a></h4>
    <h4><a target = "_blank" href="http://www.fairfaxea.org/">Fairfax Education Association</a></h4>
    <h4><a target = "_blank" href="https://www.facebook.com/groups/164688442731">Fairfax Arts Coalition for Education (FACE)</a></h4>
  </div>
</div>
  



