<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Allied Organizations
      <small>FLAGS is part of a larger effort to keep FCPS great</small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p class="view"><a href="http://iamfcps.org/">I AM FCPS</a></p>
  </div>
</div>
  



