

    <!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Calendar
        <!--<small>Subheading</small>-->
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <p>
        View upcoming FCPS events and other opportunities to advocate for full funding of our schools. 
        <!--Visit the <a href="http://iamfcps.org/how-you-can-help/">How You Can Help </a>page for more information on ways to help the campaign.-->
      </p>
      <h2>
        <!--<iframe style="border: 0;" src="https://calendar.google.com/calendar/embed?src=fairfaxflags%40gmail.com&amp;ctz=America/New_York" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->

        <iframe src="https://calendar.google.com/calendar/embed?showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=qhit3psfkn1pk65p82d2h5cfc0%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </h2>
    </div>
  </div>

</div>
<!-- /.container -->
