<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Contact Us
                    <!--<small>Subheading</small>-->
            </h1>
        </div>
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<p>For questions, contact fairfaxflags@gmail.com</p>
			<p>For media inquiries, contact fairfaxflags@gmail.com</p> 
			<br />
			<p>Stay connected with us on Facebook!</p>
			<ul>
				<li>For FLAGS updates and event notifications: <a target = "_blank" href="http://facebook.com/fairfaxflags">facebook.com/fairfaxflags</a></li>
				<li>To participate in group discussions: <a target = "_blank" href="http://facebook.com/groups/fairfaxflags">facebook.com/groups/fairfaxflags</a></li>
			</ul>
			<br />

			<p>LEADERSHIP:</p>
			<ul>
				<li>Lead Organizer: Matt Dunne (fairfaxflags@gmail.com)</li>
				<li>Treasurer: Amy Fujii</li>		
				<li>Speakers: Jill Allen Murray</li>            	
				<li>Social Media: Cristina de la Rosa</li>       
				<li>Website: Scott McKissock (scottmckissock@gmail.com)</li>
				<li>Website Content: Jennifer Gross</li>
				<li>Space Reservations:	Jennifer Garver</li>
			</ul>


			<p>LIAISONS:</p>
			<ul>
				<li>Bailey’s ES: April Ege </li>
				<li>Fort Hunt ES: Megan  Gianchetta</li>		
				<li>Fort Hunt ES: Christina Ferguson </li>            	
				<li>Fort Hunt ES: Rob Briede</li>       
				<li>Fox Mill ES: Cassandra Isidro </li>
				<li>Fox Mill ES: Alison Malzahn</li>
				<li>Great Falls ES: Megumi Fujita (admin@jcc-gfes.org)</li>		
				<li>Great Falls ES: Yuka Ohta (admin@jcc-gfes.org)</li>            	
				<li>Herndon ES: Diana Wright</li>       
				<li>Herndon ES:	Sarah Hobson</li>
				<li>Kent Gardens ES: Nicole Criss</li>
				<li>Kent Gardens ES: Adriana Henao</li>		
				<li>Lake Anne ES: Heather Robertson</li>            	
				<li>Lake Anne ES: Nisha Robbins</li>       
				<li>Laurel Ridge ES: Kristi Donovan (lresimmersion@gmail.com)</li>
				<li>London Towne ES: Vanessa Richards (londontowneflags@gmail.com)</li>
				<li>Orange Hunt ES: Jennifer Garver</li>		
				<li>Orange Hunt ES: Kari Mitchum</li>            	
				<li>Ravensworth ES: Jennifer Elem (immersion@ravensworthpta.org)</li>       
				<li>Ravensworth ES: Maria Ugincius</li>
				<li>Rose Hill ES: Jill Allen Murray Rose Hill ES</li>
				<li>Rose Hill ES: Cristina de la Rosa</li>		
				<li>Washington Mill ES: Kaki Ernst</li>            	
				<li>Washington Mill ES: Sara Raak</li>
			</ul>
		</div>
	</div>
</div>