<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Current Status
            <small>The Fight in a Nutshell</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>
            In 2009, Fairfax FLAGS and its allies succeeded in saving Fairfax County Public Schools’ (FCPS) World Language Immersion and FLES (now LTC) programs from being eliminated. After this win, the organization became dormant. The battle had been won…or so everyone thought.
        </p>
        <p>
            Enter 7 more years of budget cuts. Due to a number of factors, including tougher economic times, FCPS has been forced to cut its budget every year since 2008. Nearly a half-billion dollars has been cut from the schools’ budget since 2008—which means that FCPS is spending $1,000 LESS on each student today than it did in 2009.
        </p>
        <p>
            Faced with yet another year of possible budget cuts, FCPS enlisted help from the community. It set up a Budget Task Force to make recommendations on what the schools could cut next. The Task Force solicited help from the wider community, asking the public to use an online budget tool to make their own recommendations for cuts. In November 2015, the Task Force made its recommendations. Over 75% of the Task Force members agreed to cut Language Immersion if FCPS is required to reduce its budget by $50 million. The LTC program seems safe from cuts at the moment.
        </p>
        <p>
            After the Budget Task Force recommendations were published, Fairfax FLAGS leaped into action once again. Parents and students wrote emails to Superintendent Garza, urging her to save Language Immersion. Other elected officials were also contacted, with a view of both explaining the importance of early language acquisition and the urgency of fully funding our schools. On January 9, new Fairfax FLAGS leader Matthew Dunne and former FLAGS co-head Amy Fujii spoke in defense of our world language programs at our Virginia state delegate assembly.
        </p>
        <p>
            On January 7, Superintendent Garza released her proposed budget. Instead of making more budget cuts, she presented a budget with no cuts—and in fact, a modest increase, to be used primarily for increasing employee salaries and reducing elementary class size. In this proposed budget, the Language Immersion program remains in place.
        </p>
        <p>
            But the fight has just begun. Fully funding Superintendent Garza’s budget will take convincing the School Board to approve it and—even more challenging—convincing the Fairfax County Board of Supervisors to raise its funding to FCPS. Simultaneously, advocates must lobby the state government to allow more of Fairfax County’s state taxes to remain here, to fund our schools. Only 23% of funding for FCPS comes from the state, a significantly lower percentage than that of other Virginia school districts. Fairfax FLAGS is partnering with other advocacy groups to support the fight to fully fund FCPS. If we lose this fight, Language Immersion could be the first academic program on the chopping block. To #saveFCPS and #savelanguageimmersion, join Fairfax FLAGS today. Write or call your School Board, Board of Supervisors, and Virginia state senators and delegates and tell them that you support fully funding FCPS. Sign up to speak at the January 25 School Board public hearing on the budget, and watch your email and this web site for more opportunities to lend your voice to this important cause. In order to save and expand early foreign language learning in our schools—and in the process, to preserve and improve the high quality of an FCPS education—we all must stand up and be heard.
        </p>
    </div>
</div>

