
<div class="wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Help with this site
                <small>Contact scottmckissock at gmail if you would like to help</small>
            </h1>
        </div>
    </div>

  <header>
    <p>Fairfax FLAGS (Foreign Language Advocacy for Grade Schools) is a group that advocates for foreign language education in elementary schools in Fairfax county Virginia. The site contains maps, data and applications to support that advocacy.</p>

    <p>Site adapts the "Modern Business" bootstrap theme from Start Bootstrap</p>

    <p>It uses harp.js for simple html templating.</p>
    
    <p>The links to the right are for review before publishing to the main Fairfax FLAGS site</p>
    To Do:<br />
    <small>
      - Migrate <a href="http://www.FairfaxFLAGS.org">main site</a> from bloger something else
    </small><br />
    <small>- Make Google spreadsheet for school board and supervisor data, and use in map</small><br />
    <small>- Better school district popup on map</small><br />
    <small>- Add map to main site</small><br /><br />
    <small>- Add google analytics</small><br /><br />
    <small>- Switch domain to github</small><br /><br />
    </p>

    <p class="view">
      <a href="https://github.com/smckissock/FairfaxFLAGS">
        View the Project on GitHub <small>smckissock/FairfaxFLAGS</small>
      </a>
    </p>

    <ul>
      <li>
        <a href="https://github.com/smckissock/FairfaxFLAGS/zipball/master">
          Download <strong>ZIP File</strong>
        </a>
      </li>
      <li>
        <a href="https://github.com/smckissock/FairfaxFLAGS/tarball/master">
          Download <strong>TAR Ball</strong>
        </a>
      </li>
      <li>
        <a href="https://github.com/smckissock/FairfaxFLAGS">
          View On <strong>GitHub</strong>
        </a>
      </li>
    </ul>
  </header>

    <section> <h3>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Links to Fairfax FLAGS pages</h3>
        <p> <a href="/FairfaxFLAGS/page/fairfaximmersion/index.html">Fairfax country map language immersion schools, districts and school board members and county supervisors</a></p>
        <p> <a href="/FairfaxFLAGS/page/districtmap/index.html">DC area map with all immersion schools</a></p>
        <p> <a href="/FairfaxFLAGS/page/budgetbreakdown/index.html">The flow of Fairfax county resources from revenue to expenditure</a></p>
        <p> <a href="/FairfaxFLAGS/page/enrollment/index.html">Last 10 years of immersion enrollment, by language and school</a></p>
    </section>
</div>
 
