<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Donate</h1>
    </div>
</div>

<div class="row">
<p>
Please donate today to support our campaign for full funding for Fairfax County Public Schools and to save our world language programs.
</p>
<p>
Fairfax FLAGS is a grassroots advocacy group composed entirely of volunteers.
</p>
<p>
We incur significant costs for our communications, events, website, and advocacy activities. We rely on your donations to pay these costs.
</p>
<p>
Please donate $20, $50, or $100 today, so we can continue our campaign to sustain the quality of our public schools.
</p>
</div>



<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default text-center">
      <div class="panel-body">
        <h3>
          <b>Donate Now</b>
        </h3>
        <!--<a href="160.html">
          <img class="img-responsive" src="img//invest_in_kids_2_cropped_small.png" alt="supervisors"></img>
        </a>-->
        <p>
          Make a contribution by credit card, direct deposit, or PayPal.
        </p>
        <a href="" class="btn btn-primary">Coming soon</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default text-center">
      <div class="panel-body">
        <h3>
          <b>Buy a Car Magnet</b>
        </h3>
          <img class="img-responsive" src="img//flags_magnet_final.png" alt="magnet"></img>
        <p>
          Please contact us at fairfaxflags@gmail.com to purchase a FLAGS car magnet for $5. All profits are used to support our advocacy activities.
        </p>
        <!--<a href="calendar.html" class="btn btn-primary">Take Action</a>-->
      </div>
    </div>
  </div>
</div>