<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">History
                    <!--<small>Subheading</small>-->
            </h1>
        </div>
	</div>
	
	<div class="row">
		<div class="col-lg-12">

		<p>
		Sandy Knox and Tina Meek founded Fairfax FLAGS in 2009. Sandy helped to bring Spanish immersion instruction to Brookfield ES, and Tina’s daughters were in a Japanese immersion program at Fox Mill ES. Under their leadership, FLAGS successfully advocated to preserve FCPS world language programs, including language immersion and Foreign Language in the Elementary School (FLES), for FY 2011.   
		</P>

<P>
<b>FLAGS<b> 
</p>

   <div class="col-lg-3">
      <img class="img-responsive" src="img/founders.jpg">
  </div>

<P>
The organization grew to include parents, students, alumni, and other concerned community members working together to keep the language programs that they believe are critical for both the children of Fairfax as well as the county’s economy.
</p>

<P>
The Fairfax parents spoke at school board meetings and other community meetings. They also held a silent demonstration outside a board meeting (in the rain) and held up signs about saving the language programs. Knox and Meek had complementary skill sets. Knox had the experience of following the budget and public hearing processes closely for several years, learning to understand the political side, working with the school board, and building contacts along the way. She was also a former project manager, which was helpful in organizing. Meek came from a marketing, writing, and public relations background. They always had a PowerPoint presentation at each of the meetings.
</p>

<P>
Instead of pitting one program against the other, Fairfax FLAGS joined forces with similar organizations. Having a united effort was one of the many things that they did right. 
At the meetings where parents spoke, they also made sure that the messages covered different angles so that they not only presented a wide range of strong evidence, but they also did not become repetitive. 
At public hearings, they had student representatives from different schools and adults who spoke about different benefits of language learning. 
These included cognitive and academic benefits as well as career options in the global economy and in the government and military.
</p>

<P>
To support these efforts, Fairfax FLAGS recruited the American Council on the Teaching of Foreign Languages and the Committee for Economic Development. Most board members had studied languages in high school, but many did not know how much language instruction has changed since then, so part of the strategy involved educating the board. Coming prepared with the research to back up specific arguments was critical. The Fairfax supporters had research that showed studying languages starting in kindergarten is best for children and they could show how it helps students in other areas such as math and language arts.
</p>

<P>
After all this hard work, the commitment of the parents and educators in Fairfax County paid off and the Fairfax County immersion and FLES programs were preserved in the county schools’ FY2011 budget.
</p>
		</div>
	</div>
</div>