<hr></hr>
<div class="row">
  <div class="col-lg-12">
    <img class="img-responsive" src="img//logov2 950px.png" alt="Fairfax FLAGS logo"></img>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <p>
        <h1>
          ALERT: Fairfax Country is set to eliminate language programs this fall, unless you act NOW to save them
          <a href="join.html" class="btn btn-primary">Join Now</a>
        </h1>
      </p>
  </div>
</div>

  <!--<video controls="">
    <source src="video//cook_elite.mp4" type="video/mp4">
  </video>-->

<!--<video controls="">
  <source src="video//smith_science.mp4" type="video/mp4">
</video>-->

<div class="row">
	    
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>What's New</h4>
				</div>
				<div class="panel-body">
          <img class="img-responsive" src="img//flags_kids.jpg" alt="flags kids"></img>
					<p>Board of Supervisors’ Vote Puts Language Immersion in Grave Danger</p>
          <a href="160.html" class="btn btn-default">Learn More</a>
				</div>
			</div>
		</div>
	
  <div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Upcoming Events</h4>
				</div>
				<div class="panel-body">
          <img class="img-responsive" src="img//rainy_demonstration.jpg" alt="rainy demonstration"></img>
					<p>Upcoming meetings, hearings, etc</p>
          <a href="calendar.html" class="btn btn-default">Learn More</a>
				</div>
			</div>
		</div>
	
  <div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Take Action</h4>
				</div>
				<div class="panel-body">
          <img class="img-responsive" src="img//supervisors.jpg" alt="supervisors"></img>
					<p>Contact - call, email, or write - your elected representatives and ask them to fully fund FCPS.</p>
          <a href="take_action.html" class="btn btn-default">Learn More</a>
				</div>
			</div>
		</div>
  
</div>