<hr></hr>
<div class="row">
  <div class="col-lg-12">
    <img class="img-responsive" src="img//logov2 950px.png" alt="Fairfax FLAGS logo"></img>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <p>
        <h1>
          ALERT: Fairfax Country is set to eliminate language programs this fall, unless you act NOW to save them
          <a href="join.html" class="btn btn-primary">Join Now</a>
        </h1>
      </p>
  </div>
</div>

  <!--<video controls="">
    <source src="video//cook_elite.mp4" type="video/mp4">
  </video>-->

<!--<video controls="">
  <source src="video//smith_science.mp4" type="video/mp4">
</video>-->

<div class="row"> 

    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <h3>
            <b>What's New</b>
          </h3>
          <a href="160.html">
            <img class="img-responsive" src="img//supervisors.jpg" alt="supervisors"></img>
          </a>
          <p>Board of Supervisors’ Vote Puts Language Immersion in Grave Danger</p>
          <a href="160.html" class="btn btn-primary">Get the Details</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <h3>
            <b>Upcoming Events</b>
          </h3>
          <a href="calendar.html">
            <img class="img-responsive" src="img//rainy_demonstration.jpg" alt="rainy demonstration"></img>
          </a>
          <p>Tell your county supervisor you support FCPS and language programs</p>
          <a href="calendar.html" class="btn btn-primary">Calendar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <h3>
            <b>Take Action</b>
          </h3>
          <a href="take_action.html">
            <img class="img-responsive" src="img//flags_kids.jpg" alt="flags kids"></img>
          </a>
          <p>Join Fairfax FLAGS and call, email, or write - your elected representatives and ask them to fully fund FCPS.</p>
          <a href="take_action.html" class="btn btn-primary">Find out how</a>
        </div>
      </div>
    </div>
  
</div>