<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Join Us
			<!-- <small>Subheading</small> -->
        </h1>
    </div>
</div>


<div class="row">
  <p>
    Join our campaign today to support full funding for Fairfax County Public Schools and to save our world language programs from elimination!
  </p>
  <p>
    You will receive updates on the latest developments. You will also learn what you can do to persuade elected officials to sustain the quality of our public schools.
  </p>
  <p>
    We will never sell or share your information with other organizations for commercial use.
  </p>
</div>

<!--<ol>
  <li>
    <span style="font-family: &quot;georgia&quot; , &quot;times new roman&quot; , serif;">
      <span style="line-height: 1.38; text-indent: -0.25in;">Sign up below </span>
      <span style="line-height: 1.38; text-indent: -0.25in;">
        to join Fairfax FLAGS! Since 2009, Fairfax FLAGS has led the fight to preserve
        and expand language immersion and FLES/LTC programs in Fairfax County Public
        Schools.&nbsp;
      </span>
    </span>
  </li>
  <li>
    <span style="font-family: &quot;georgia&quot; , &quot;times new roman&quot; , serif;">
      <span style="line-height: 1.38; text-indent: -0.25in;">Send an email </span>
      <u style="line-height: 1.38; text-indent: -0.25in;">today</u>
      <span style="line-height: 1.38; text-indent: -0.25in;">
        to Dr. Karen Garza,
        FCPS Superintendent, at
      </span>
      <a href="mailto:SuperintendentGarza@fcps.edu" style="line-height: 1.38; text-indent: -0.25in;">
        <span style="color: #0563c1; mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri;">SuperintendentGarza@fcps.edu!</span>
      </a>
      <span style="line-height: 1.38; text-indent: -0.25in;">
        &nbsp;She is currently preparing the proposed budget for next year, and we want her
        to include full funding for language immersion programs in the budget.
      </span>
    </span>
  </li>
</ol>-->

<div class="MsoListParagraphCxSpLast" style="mso-list: l0 level1 lfo1; text-indent: -.25in;">
  <span style="font-family: &quot;georgia&quot; , &quot;times new roman&quot; , serif;">
    <o:p></o:p>
  </span>
</div>
<div class="MsoNormal">
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="//fairfaxflags.us1.list-manage.com/subscribe/post?u=367f2338ebdf31c367745694f&amp;id=61c56406b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div id="mc_embed_signup_scroll">
          <h2>Subscribe to our mailing list</h2>
          <div class="indicates-required">
            <span class="asterisk">*</span> indicates required
          </div>
          <div class="mc-field-group">
            <label for="mce-FNAME">
              First Name  <span class="asterisk">*</span>
            </label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
          <div class="mc-field-group">
            <label for="mce-LNAME">
              Last Name  <span class="asterisk">*</span>
            </label>
            <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">
              Email Address  <span class="asterisk">*</span>
            </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
          <div class="mc-field-group size1of2">
            <label for="mce-TELEPHONE">Telephone Number </label>
            <input type="number" name="TELEPHONE" class="" value="" id="mce-TELEPHONE">
</div>
          <div class="mc-field-group">
            <label for="mce-MMERGE4">Zip Code </label>
            <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4">
</div>
          <div class="mc-field-group">
            <label for="mce-ROLE">
              Are you a...  <span class="asterisk">*</span>
            </label>
            <select name="ROLE" class="required" id="mce-ROLE">
              <option value=""></option>
              <option value="FCPS Parent">FCPS Parent</option>
              <option value="FCPS Student">FCPS Student</option>
              <option value="FCPS Alum">FCPS Alum</option>
              <option value="Other">Other</option>

            </select>
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE6">
              FCPS School  <span class="asterisk">*</span>
            </label>
            <select name="MMERGE6" class="required" id="mce-MMERGE6">
              <option value=""></option>
              <option value="N/A">N/A</option>
              <option value="Bailey's ES">Bailey's ES</option>
              <option value="Braddock ES">Braddock ES</option>
              <option value="Carson MS">Carson MS</option>
              <option value="Cooper MS">Cooper MS</option>
              <option value="Fort Hunt ES">Fort Hunt ES</option>
              <option value="Fox Mill ES">Fox Mill ES</option>
              <option value="Great Falls ES">Great Falls ES</option>
              <option value="Groveton ES">Groveton ES</option>
              <option value="Hayfield MS">Hayfield MS</option>
              <option value="Herndon ES">Herndon ES</option>
              <option value="Herndon MS">Herndon MS</option>
              <option value="Irving MS">Irving MS</option>
              <option value="Kent Gardens ES">Kent Gardens ES</option>
              <option value="Lake Anne ES">Lake Anne ES</option>
              <option value="Lake Braddock MS">Lake Braddock MS</option>
              <option value="Laurel Ridge ES">Laurel Ridge ES</option>
              <option value="London Towne ES">London Towne ES</option>
              <option value="Longfellow MS">Longfellow MS</option>
              <option value="Orange Hunt ES">Orange Hunt ES</option>
              <option value="Powell ES">Powell ES</option>
              <option value="Ravensworth ES">Ravensworth ES</option>
              <option value="Robinson MS">Robinson MS</option>
              <option value="Rose Hill ES">Rose Hill ES</option>
              <option value="Sandburg MS">Sandburg MS</option>
              <option value="Stone MS">Stone MS</option>
              <option value="Twaine MS">Twaine MS</option>
              <option value="Washington Mill ES">Washington Mill ES</option>
              <option value="Whitman MS">Whitman MS</option>
              <option value="Other">Other</option>

            </select>
          </div>
          <div class="mc-field-group input-group">
            <strong>Alum of FCPS language immersion program? </strong>
            <ul>
              <li>
                <input type="checkbox" value="16" name="group[5485][16]" id="mce-group[5485]-5485-0">
                  <label for="mce-group[5485]-5485-0">Yes</label>
              </li>
              <li>
                <input type="checkbox" value="32" name="group[5485][32]" id="mce-group[5485]-5485-1">
                  <label for="mce-group[5485]-5485-1">No</label>
              </li>
            </ul>
          </div>
          <div class="mc-field-group input-group">
            <strong>Willing to speak at public meetings? </strong>
            <ul>
              <li>
                <input type="checkbox" value="1" name="group[5477][1]" id="mce-group[5477]-5477-0">
                  <label for="mce-group[5477]-5477-0">Yes</label>
              </li>
              <li>
                <input type="checkbox" value="2" name="group[5477][2]" id="mce-group[5477]-5477-1">
                  <label for="mce-group[5477]-5477-1">No</label>
              </li>
            </ul>
          </div>
          <div class="mc-field-group input-group">
            <strong>Willing to volunteer to help? </strong>
            <ul>
              <li>
                <input type="checkbox" value="4" name="group[5481][4]" id="mce-group[5481]-5481-0">
                  <label for="mce-group[5481]-5481-0">Yes</label>
              </li>
              <li>
                <input type="checkbox" value="8" name="group[5481][8]" id="mce-group[5481]-5481-1">
                  <label for="mce-group[5481]-5481-1">No</label>
              </li>
            </ul>
          </div>
          <div class="mc-field-group input-group">
            <strong>Email Format </strong>
            <ul>
              <li>
                <input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0">
                  <label for="mce-EMAILTYPE-0">html</label>
              </li>
              <li>
                <input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1">
                  <label for="mce-EMAILTYPE-1">text</label>
              </li>
            </ul>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_367f2338ebdf31c367745694f_61c56406b2" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='TELEPHONE';ftypes[3]='number';fnames[4]='MMERGE4';ftypes[4]='zip';fnames[5]='ROLE';ftypes[5]='dropdown';fnames[6]='MMERGE6';ftypes[6]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->

  