<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">News
                <!--<small>Subheading</small>-->
            </h1>
        </div>
    </div>
    <!-- /.row -->

  <div class="row">
    <div class="col-md-1 text-center">
      <p>February 3, 2016</p>
    </div>
    <div class="col-md-11">
      <h3>
        <a href="news\110.html">Save Our Schools! Save Our World Language Programs!</a>
      </h3>
      <p>
        by <a href="mailto:fairfaxflags@gmail.org">Fairfax FLAGS</a>
      </p>
      <p>Please attend FLAGS Action Meeting on Thursday, Feb. 11, and the  “INVEST IN KIDS” rally on Tuesday, Feb. 16</p>
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-1 text-center">
      <p>January 31, 2016</p>
    </div>
    <div class="col-md-11">
      <h3>
        <a href="news\105.html">Fairfax FLAGS Update: Raise Your Voice and Rally for FCPS Funding!</a>
      </h3>
      <p>
        by <a href="mailto:fairfaxflags@gmail.org">Fairfax FLAGS</a>
      </p>
      <p>Email elected leaders, attend our “INVEST IN KIDS” rally on Tuesday, Feb. 16, join Fairfax FLAGS, and spread the word!</p>
    </div>
  </div>


  <!-- Blog Post Row -->
  <div class="row">
    <div class="col-md-1 text-center">
      <p>January 7, 2016</p>
    </div>
    <div class="col-md-11">
      <h3>
        <a href="news\100.html">Fairfax FLAGS Needs Your Help!</a>
      </h3>
      <p>
        by <a href="mailto:fairfaxflags@gmail.org">Fairfax FLAGS</a>
      </p>
      <p>Please attend public hearing on January 25 during which Dr. Karen Garza, FCPS Superintendent, will present her proposed budget.</p>
    </div>
  </div>
  
  
    <!-- Intro Content -->
  <!--<div class="row">

    <div class="col-md-4">
      <h2>Invest in Kids Rally</h2>
      <p>On February 16, Fairfax FLAGS' Matt Dunne led a rally at the Fairfax County Government Center.  Over 400 students, parents and teachers gathered to support full funding for FCPS in 2017.</p>
    </div>
    
      <div class="col-md-8">
        <iframe src="http://wjla.com/embed/news/local/a-budget-battle-is-brewing-in-fairfax-co-over-how-much-money-schools-should-receive" width="640" height="360" frameborder="0" marginwidth="0" marginheight="0"></iframe>
      </div>
      <hr></hr>
      <div class="col-md-8">
        <img class="img-responsive" src="img//feb_16_rally.jpg" alt="Feb 16 Rally"></img>
      </div>
      
  </div>-->
    <!-- /.row -->

</div>
<!-- /.container -->
