

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Take Action
                    <!--<small>Subheading</small>-->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <!--<div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
            </div>
        </div>-->
        <!-- /.row -->

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <!--<div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>-->
                    <div class="panel-body">
                        <h4><b>Attend a Meeting</b></h4>
                      <a href="calendar.html">
                        <img class="img-responsive" src="img//sharon_bulova.jpg" alt="Sharon Bulova"></img>
                      </a>
                        <p></p>
                        <a href="calendar.html" class="btn btn-primary">Calendar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h4><b>Contact your Representatives</b></h4>
                      <a href="page/fairfaximmersion/index.html">
                        <img class="img-responsive" src="img//fairfax_map.png" alt="flags magnet"></img>
                      </a>
                        <p>Use the map to find the officals in your district</p>
                        <a href="page/fairfaximmersion/index.html" class="btn btn-primary">Learn How</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h4><b>Join Fairfax FLAGS</b></h4>
                      <a href="join.html">
                        <img class="img-responsive" src="img//flags_magnet_final.png" alt="flags magnet"></img>
                      </a>
                        <p>Take a minute to join our ranks</p>
                        <a href="join.html" class="btn btn-primary">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
