

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Take Action
                    <!--<small>Subheading</small>-->
                </h1>
            </div>
        </div>
        <!-- /.row -->

      <h4>Focus on advocacy that will change the votes of elected officials:</h4>
      <ul>
        <li>Speak at a public hearing</li>
        <li>Meet with your elected officials in person</li>
        <li>Write a personal message, and send by email, fax, mail, or other means</li>
        <li>Call your elected officials</li>
      </ul>
      
      <h4>Avoid advocacy that will not change their votes:</h4>
      <ul>
        <li>Social media (Facebook, Twitter, etc.)</li>
        <li>Form letters (unless you add a personal message)</li>
      </ul>

      <h4>Find your elected officials <a target = "_blank" href="page/fairfaximmersion/index.html">here</a> or <a target = "_blank" href="https://bit.ly/FFXbySchool">here</a></h4>
      <h4>Find their contact information <a target = "_blank" href="https:bit.ly/FFXCTY2016">here</a></h4>
      
      <ul>
        <li>Contact elected officials for your base school and immersion school</li>
        <li>Contact at-large officials (they represent everyone!)</li>
      </ul>

      <!-- Image Header -->
        <!--<div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
            </div>
        </div>-->
        <!-- /.row -->
        
        <div class="row">
          
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                      <h3><b>Speak at a Public Hearing</b></h3>
                      <ul>
                        <li>We need a diverse array of speakers, including parents and students, to support of full funding and saving FCPS language immersion programs.</li>
                        <li>
                          <b>Board of Supervisors budget hearing -- April 5, 6, or 7, 2016.</b> Fairfax County Government Center, 12000 Government Center Pkwy, Fairfax. 
                        Register now <a target = "_blank" href="https://bit.ly/Register2Speak">here</a> (request an evening speaking slot). Ask them for 4-cent tax increase and full funding for FCPS.</li>
                        <li><b>School Board budget hearing -- May 17, 2016.</b> Luther Jackson MS, 3020 Gallows Rd, Falls Church. 
                        Register <a target = "_blank" href="https://bit.ly/Register4SB">here</a> beginning on May 6 (request evening speaking slot). Ask them to save FCPS language immersion programs. </li>
                      </ul>
                    </div>
                </div>
            </div>
          
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                      <h3><b>Meet with Elected Officials</b></h3>
                      <ul>
                        <li>Arrange a meeting at their office or another location. Bring as many people as possible!</li>
                        <li>Meet them at town hall meetings or other events. See “Calendar” link above.</li>
                      </ul>
                    </div>
                </div>
            </div>
          
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                       <h3><b>Call Elected Officials</b></h3>
                      <ul>
                        <li>Schedule a time to speak with your elected officials.</li>
                        <li>Give your message to their assistant.</li>
                        <li>Call more than once! The more calls, the greater the impact!</li>
                      </ul>
                    </div>
                </div>
            </div>

          <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-body">
                <h3>
                  <b>Write to Elected Officials</b>
                </h3>
                <ul>
                  <li>Send a personal message by email.</li>
                  <li>Write a short note and send by fax or mail.</li>
                  <li>Organize a letter writing party at your home or school.</li>
                  <li>Write more than once! The more letters, the greater the impact!</li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      <!-- row -->
    </div>
    <!-- /.container -->
